@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --mont: "Montserrat", sans-serif;
  --navbuttons: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
  --brickblue: #b2c9d8;
  --bluehover: #ccdfeb;
  --brickred: #cb4154;
  --charcoal: rgba(50, 48, 48, 0.304);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 90%);
  font-family: var(--mont);
}

.hamnav {
  width: 100%;
  background: var(--brickblue);
}

.hamitems {
  display: flex;
}

.hamitems button {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.hamitems button:hover {
  background: var(--bluehover);
  border-radius: 10px;
}

.hamnav label, #hamburger {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1em 1em;
  background: var(--brickblue);
  position: sticky;
  top: 0;
}

button {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: var(--brickblue);
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  margin-left: 3rem;
}

.brand-btn {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}

.hamnav {
  display: flex;
  flex-direction: row;
}

label[for="hamburger"] {
  font-size: 3em;
}

li {
  list-style-type: none;
  margin-left: 3rem;
}

button::after {
  content: '';
  width: 0rem;
  height: 0.15rem;
  background-color: rgba(100, 100, 100, 0.8);
  display: block;
  border-radius: 0.2rem;
  margin: 0.2rem auto 0 auto;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:hover::after {
  width: 2rem;
}

/* Home page */
.home {
  flex-direction: column;
}

.home-page p {
  line-height: 1.5;
}

.home-title {
  margin: 1em 0;
  font-size: 2..25rem;
  font-weight: 800;
  color: #fff;
  max-width: 700px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
}

.about-para {
  margin-bottom: 1em;
  width: 400px;
}

.hours-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.flex-home {
  display: flex;
  height: 80vh;
  padding: 1.5em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brick-background {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  border: 8px solid #fff;
  background-color: var(--brickblue);
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.8;
}


/* Menu page */
.menu-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  gap: 2em;
  padding: 1.5em;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  line-height: 1.75;
  font-weight: 300;
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid var(--charcoal);
  background: rgba(0, 0, 0, 0.2);
  color: #000;
}

.menu-card img {
  height: 200px;
  width: 200px;
  margin-top: 1em;
  border: 1px solid #000;
}

.menu-card hr {
  height: 2px;
  width: 300px;
  background: #fff;
  border: none;
  margin-bottom: 0.5em;
  border-radius: 10px;
}

/* Contact page */
.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3em;
  gap: 3em;
  background: rgba(0, 0, 0, 0.3);
}

.col-left p {
  font-size: 1.2rem;
  color: #fff;
}

.col-right img {
  opacity: 0.8;
  border: 3px solid #000;
}

/* Show hide */
.hidden {
  display: none;
  overflow: hidden;
}

.show {
  visibility: visible;
}

/* Random styles  */
.font-outline {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
}

/* Media queries */
@media (max-width: 1000px) {
  .contact-page {
    justify-content: center;
    align-items: center;
  }

  .contact-container {
    flex-direction: column;
    justify-content: center;
    width: 70vw;
  }

    .col-right img {
      width: 60vw;
    }
}

@media screen and (max-width: 768px) {

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  .hamnav label {
    display: inline-block;
    color: white;
    background: var(--brickblue);
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  .hamitems {
    display: none;
  }

  .hamnav input:checked~.hamitems {
    display: flex;
    flex-direction: column;
  }
}